Standard/OMG_OntoIOp_current.aux
Standard/OMG_OntoIOp_current.out
Standard/OMG_OntoIOp_current.pdf
Standard/OMG_OntoIOp_current.synctex.gz
Standard/OMG_OntoIOp_current.toc
*bbl
*blg
*log
*~
*.idx
*.ilg
*.ind
